In [13]:
%store -r
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI,Obesity,HBP
58200,83048,22544,1,169,35.0,140,90,2,1,0,0,1,1,12.254473,1,4
16322,23318,21872,1,165,35.0,100,70,1,1,0,0,1,0,12.855831,1,1
38417,54851,21809,1,154,32.0,110,60,1,1,0,0,1,0,13.493001,1,1
9487,13518,20958,2,172,40.0,140,90,1,2,0,0,1,1,13.520822,1,4
10447,14908,22007,1,162,38.0,100,70,1,1,0,0,1,0,14.479500,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3413,4825,14585,1,159,159.0,100,80,1,1,0,0,1,0,62.893082,5,3
51909,74028,23228,1,142,129.0,140,90,1,3,0,0,1,1,63.975402,5,4
2458,3470,23646,2,159,165.0,130,70,1,1,0,0,0,0,65.266406,5,3
20092,28683,20656,2,165,178.0,120,80,1,1,1,1,1,0,65.381084,5,3
61788,88220,18956,2,165,178.0,120,80,1,1,0,0,1,0,65.381084,5,3

In [14]:
df1=df.drop(columns=["ap_hi", "ap_lo", "height", "weight", "BMI"])
df2=df.drop(columns=["Obesity", "HBP", "height", "weight"])
df1

,id,age,gender,cholesterol,gluc,smoke,alco,active,cardio,Obesity,HBP
58200,83048,22544,1,2,1,0,0,1,1,1,4
16322,23318,21872,1,1,1,0,0,1,0,1,1
38417,54851,21809,1,1,1,0,0,1,0,1,1
9487,13518,20958,2,1,2,0,0,1,1,1,4
10447,14908,22007,1,1,1,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
3413,4825,14585,1,1,1,0,0,1,0,5,3
51909,74028,23228,1,1,3,0,0,1,1,5,4
2458,3470,23646,2,1,1,0,0,0,0,5,3
20092,28683,20656,2,1,1,1,1,1,0,5,3
61788,88220,18956,2,1,1,0,0,1,0,5,3

In [15]:
import pandas as pd
df1 = pd.get_dummies(df1, columns=["Obesity", "HBP", "gender"])
df2 = pd.get_dummies(df2, columns=["gender"])
df1.head()

,id,age,cholesterol,gluc,smoke,alco,active,cardio,Obesity_1,Obesity_2,Obesity_3,Obesity_4,Obesity_5,HBP_1,HBP_2,HBP_3,HBP_4,HBP_5,gender_1,gender_2
58200,83048,22544,2,1,0,0,1,1,True,False,False,False,False,False,False,False,True,False,True,False
16322,23318,21872,1,1,0,0,1,0,True,False,False,False,False,True,False,False,False,False,True,False
38417,54851,21809,1,1,0,0,1,0,True,False,False,False,False,True,False,False,False,False,True,False
9487,13518,20958,1,2,0,0,1,1,True,False,False,False,False,False,False,False,True,False,False,True
10447,14908,22007,1,1,0,0,1,0,True,False,False,False,False,True,False,False,False,False,True,False

In [16]:
from sklearn.model_selection import train_test_split

X1, y1 = df1.drop("cardio", axis=1), df1["cardio"]
X2, y2 = df2.drop("cardio", axis=1), df2["cardio"]

X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.4, random_state=42)
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.4, random_state=42)

X1_val, X1_test, y1_val, y1_test = train_test_split(X1_test, y1_test, test_size=0.5, random_state=42)
X2_val, X2_test, y2_val, y2_test = train_test_split(X2_test, y2_test, test_size=0.5, random_state=42)

print(X1_train.shape, X1_val.shape, X1_test.shape, y1_train.shape, y1_val.shape, y1_test.shape)
print(X2_train.shape, X2_val.shape, X2_test.shape, y2_train.shape, y2_val.shape, y2_test.shape)

(40162, 19) (13388, 19) (13388, 19) (40162,) (13388,) (13388,)
(40162, 12) (13388, 12) (13388, 12) (40162,) (13388,) (13388,)